<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Chart js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
      const config = {
          type: 'bar',
          data: {{ data|safe }},
          options: {
              responsive: true,
              plugins: {
                  legend: {
                      position: 'top',
                  },
                  title: {
                      display: true,
                      text: 'Bar Chart'
                  }
              },
              scales: {
                x: {
                  ticks: {
                      maxRotation: 90,
                      minRotation: 90
                  }
                }
              }
          },
      };

      window.onload = function () {
          var ctx = document.getElementById('chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
      };
  </script>

  <title>Bar chart</title>
</head>
<body>
  <div class="chart-container" style="position: relative; height:40%; width:90%; margin: auto;">
    <canvas id="chart"></canvas>
  </div>
</body>
</html>
